@font-face {
  font-family: 'Ilisarniq';
  src: local('Ilisarniq'), url(./assets/fonts/Ilisarniq-Light.otf) format('truetype');
}

.App{
  font-family: 'Ilisarniq';
  text-align: center;
  background-color: #3c3c3c;
  color: #fadde1;
  display: flex;
}

a {
  color: #fadde1;
  text-decoration: none;
}

button{
  font-size: 48px;
  font-family: 'Ilisarniq';
  border: 3px solid #fadde1;
  background-color: #3c3c3c;
  border-radius: 20px;
  color: #fadde1;
  padding: 18px 48px;
  align-items: center;
  outline: none;
}

button:active{
  background-color:  #fadde1;
}

input, textarea {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-family: 'Ilisarniq';
}

textarea{
  resize: none;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

* {
  transition: 333ms;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms linear 250ms;
}

.fade-exit{
  opacity: 1;
}

.fade-exit.fade-exit-active {
opacity: 0;
transition: opacity 250ms linear;
}