.cocktail-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.cocktail-container .weird-circle{
  max-width: 66vw;
  max-height: 85vh;
  position: absolute;
  justify-self: center;
  margin-top: -10em;
  z-index: 0;
  animation: rotation 666s infinite linear;
  overflow:hidden;
}

.search-bar-box{
  margin-top: 5em;
  z-index: 1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

