.cocktail-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   height: 100vh;
   width: 16vw;
}

.weird-circle{
  max-width: 66vw;
  max-height: 85vh;
  position: fixed;
  z-index: 0;
  animation: rotation 666s infinite linear;
  overflow:hidden;
}

.search-bar-box{
  position:fixed;
  z-index: 1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

