.edit-container{
  display: flex;
  flex-direction: column;
  min-height: 65vh;
  max-height: 65vh;
  min-width: 65vw;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15px;
}

.edit-form{
  min-height: 65vh;
  max-height: 65vh;
  min-width: 55vw;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  border-radius: 25px;
  margin: 10px 5px 5px 5px;
  padding-top: 10px;
}

.edit-form textarea,
.edit-form input{
  flex-grow: 1;
  margin: 5px;
  width: 95%;
  margin-left: 10px;
  background-color: inherit;
  color:inherit;
}

.input{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  width: 95%;
  border-bottom: 1px solid #fadde1;
}

.edit-form>label{
  margin-left: 10px;
  text-decoration: underline;
}

.edit-container button{
  margin: 5px;
  font-size: 1.5em;
  max-width: 20vw;
  position: fixed;
  right: 0;
  bottom: 0;
}


