.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: #3c3c3c;
  width: 90%;
  height: 90%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  /* grid? */
}



.large{
  width: 90%;
  height: 90%;
}

.small{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.small button{
  font-size: 1em;
}

.close-button{
  align-self: flex-end;
  padding: 2em;
  font-size: 5em;
}

.display-block {
  transition: opacity .5s linear;  
  transform:translate(0);
  opacity: 1;
}

.display-none {
  transform:translate(666px);
  opacity: 0;
}