.layout-nav{
  position: fixed;
}

.brand-icon, .nav-icon{
  max-width: 7em;
}

.brand-box, .nav-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.brand-text{
  font-size: 2.5em;
}

.nav-item{
  font-size: 1.5em;
  margin-right: 20px;
}