.profile-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
  grid-template-rows: 4fr 1fr;
  min-height: 90vh;
  max-height: 90vh;

}

.profile-button-container{
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}

.profile-button-container button {
  margin-top: 5px;
}